body {
    background-color: white;
    color: black;
    border: solid lightgrey 30px;
}

h1 {
    font-size: 45px;
    color: #F2A7B5;
    margin: 0px auto 60px auto;
    border-radius: 15px;
}

#header {
    border-bottom: solid lightgrey 15px;
    text-align: center;
    padding: 60px;
}

#input_moviename {
    margin: 0 auto 0 auto;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 100px;
}

main {
    width: 1500px;
    margin: 0 auto 0 auto;
}

#detailed_introduction {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#movie_info {
    display: grid;
    grid-template-rows: 0.2fr 1fr 0.3fr;
}

.info {
    margin: 15px;
    text-align: center;
    border:solid lightgrey 15px;
}

#movie_title {
    
    font-size: 55px;
}

#movie_contents {
    
}

#reviewbox {
    border: solid lightgray 15px;
    padding: 15px;
}

#review_btn {

}

.review {
    border: solid 8px lightgrey;
    padding:30px;
    margin:20px;
}

.horizontal_division {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.user_info {
    display: grid;
    grid-template-columns: 1fr 1fr;

    border: solid lightgrey 3px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    width: 500px;
}

.review_comments {
    border: solid lightgrey 3px;
    border-radius: 5px;
    padding: 5px;
    width: 1200px;
}

.review_modify {

}

.review_delete {
    
}


button {
    border-radius: 5px;
}

.pink_btn {
    border: 3px solid #F2A7B5;
    background-color: #F2A7B5;
    color: white;
    margin: 10px;
    padding: 9px;
}

.powderblue_btn {
    border: 3px solid powderblue;
    background-color: powderblue;
    color: black;
    margin: 5px;
    padding: 9px;
}

.red_btn {
    border: 3px solid red;
    background-color: red;
    color: white;
    margin: 10px;
    padding: 9px;
}

.modal {        /*모달 관련*/
    position: absolute;
    display: none;

    justify-content: center;
    top:0;
    left:0;

    width:100%;
    height: 300%;

    background-color: rgba(0,0,0,0.4);

    border: solid black 3px;
}

.modal_body {   /*모달 관련*/
    position:absolute;
    top:10%;

    width:400px;
    height:600px;
    
    text-align: center;

    background-color: rgb(255,255,255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34,36,38,0.15);

    transform: translateY();
}
.modal_title { /*모달 관련*/
    margin:40px;
}

.write_tile {   /*모달 관련*/
    margin-top: 70px;
}

.user_input {   /*모달 관련*/
    margin: 15px;
}
.close_modal {   /*모달 관련*/
    position: absolute;

    right:20%;
    bottom:5%;
}




@media (max-width :1600px) {
    #movie_info {
        width:900px
    }
    #reviewbox {
        width: 1400px;
    }
    .review_comments {
        width:1100px;
    }
}

@media (max-width :1500px) {
    #movie_info {
        width:800px
    }
    #reviewbox {
        width: 1300px;
    }
    .review_comments {
        width: 1000px;
    }
}

@media (max-width :1400px) {
    #movie_info {
        width:700px
    }
    #reviewbox {
        width: 1200px;
    }
    .review_comments {
        width: 900px;
    }
}

@media (max-width :1300px) {
    #movie_info {
        width:600px;
    }
    #reviewbox {
        width: 1100px;
    }
    .review_comments {
        width: 800px;
    }
}

@media (max-width :1200px) {
    #movie_info {
        width:500px
    }
    #reviewbox {
        width: 1000px;
    }
    .review_comments {
        width: 700px;
    }
}

@media (max-width :1100px) {
    #movie_info {
        display: none;
    }
}