h1 {
    color: white;
    font-size: 45px;
    border: solid 2px grey;
    margin: 0 auto 0 auto;
    text-align: center;
    padding: 100px;
}

a {
    text-decoration: none;
    color: white;
}

body {
    margin: 0px;
    color: white;
    background-color: black;
}

button {

}


.col {
    border: solid 3px black;
    color: white;
    background-color: black;
    padding: 3px;
}

.card {
    background-color: transparent;
}

.card-title {
    border: solid 3px grey;
    padding: 3px;
    margin: 0px;
}

#inputValue {
    width: 600px;
    margin: 0 auto 0 auto;
    color: black;
}

#instrument_text {
    padding-top: 15px;
    text-align: center;
}

#card_group {
    margin: 200px;
}

#move_btn {
    border: solid grey 3px;
    width: 300px;
    margin: 0 auto 0 auto;
}

.white_btn {
    padding:15px;
    margin:15px;
    font-size:15px;
    font-weight: 1000;
    background-color: white;
    color:black;
}